<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- Scans within the base package of the application for @Components to 
		configure as beans -->
	<context:component-scan base-package="com.example.springdemo.service" />

	<bean id="zosia" class="com.example.springdemo.domain.Person">
		<property name="firstName" value="Zosia" />
		<property name="yob" value="1987" />
	</bean>
	<bean id="janusz" class="com.example.springdemo.domain.Person">
		<property name="firstName" value="Janusz" />
		<property name="yob" value="1964" />
	</bean>
	<bean id="grazyna" class="com.example.springdemo.domain.Person">
		<property name="firstName" value="Grazyna" />
		<property name="yob" value="1968" />
	</bean>
	<bean id="roman" class="com.example.springdemo.domain.Person">
		<property name="firstName" value="Roman" />
		<property name="yob" value="1965" />
	</bean>
	<bean id="halina" class="com.example.springdemo.domain.Person">
		<property name="firstName" value="Halina" />
		<property name="yob" value="1967" />
	</bean>
	<bean id="brajan" class="com.example.springdemo.domain.Person">
		<property name="firstName" value="Brajan" />
		<property name="yob" value="1990" />
	</bean>
	<bean id="dzesika" class="com.example.springdemo.domain.Person">
		<property name="firstName" value="Dzesika" />
		<property name="yob" value="1992" />
	</bean>
	<bean id="seba" class="com.example.springdemo.domain.Person">
		<property name="firstName" value="Seba" />
		<property name="yob" value="2008" />
	</bean>
	<bean id="karyna" class="com.example.springdemo.domain.Person">
		<property name="firstName" value="Karyna" />
		<property name="yob" value="2009" />
	</bean>
	<bean id="dzoana" class="com.example.springdemo.domain.Person">
		<property name="firstName" value="Dzoana" />
		<property name="yob" value="2010" />
	</bean>

</beans>
